@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

$white: #fff;

$blue: #0694a7;
$dark_blue: #038799;

$red: #ed2d25;

$black: #212529;

$paragraph: #969696;

$bg-color: #f1f4f9;

$bg: #f4f4f4;

$yellow: #fcca2d;

$shadow: 0 0.625rem 3.75rem 0 rgb(40 54 73 / 10%);

// font-family
$font-body:  'Lato', sans-serif;
// $font-body:  'Roboto Condensed', sans-serif;
// $font-head:  'Roboto Condensed', sans-serif;
$font-head:  'Lato', sans-serif;
